*{
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #24292e;
}
.content{
  flex: 1 0 auto;
}
footer{
  flex: 0 0 auto;
  padding: 10px;
}
footer a{
  color: #24292e;
  background-color: #f1f8ff;
  text-transform: none;
}
footer p {
  color: #f1f8ff;
}
#app {
  padding: 10px;
}
#app li{
  list-style-type: none;
}
a{
  color: #f1f8ff;
  text-decoration: none;
  text-transform: uppercase;
}
#app a:hover{
  color: #24292e;
  background-color: #f1f8ff;
}
@media screen{
  #app a{
    font-size: 76px;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait){
  #app a{
    font-size: 46px;
  }
}